:root {
  --primary-color:#ffe6a7;
  --secundary-color: #99582a;
  --color-red:#ae2012;
  --color-marillo: #ffba08;
}

#topbar{
  background-color: #ffe6a7;
  font-family: "Gravitas One", serif;
  color: black;
  font-size: 2rem;
  padding: 20px;

}

#topbar .iconos{
  color: #99582a;
  font-size: 1.5rem;
  
}

#sliderHero .carousel-item {
    height: 250px;
}

#sliderHero .carousel-item img {
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    #sliderHero .carousel-item {
        height: 400px;
    }
}

@media (min-width: 1200px) {
    #sliderHero .carousel-item {
        height: 700px;
    }
}


.navbar{
  background-color: #99582a;
}

.btn-naranja{
  background-color: #99582a;
  color: white;
}

.btn-naranja:hover{
  background-color: #ae2012;
  color: white;
}

.btn-amarillo{
  background-color: #ffba08;
  color: black;
}

.btn-amarillo:hover{
  background-color: #99582a;
  color: white;
}

.mi-navbar{
  background-color: var(--color-red) !important;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-menu{
  background-color: palevioletred !important;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  transition: box-shadow 0.2s ease;
  width: 8rem;
  height: 3rem;
}

.nav-link{
  margin-right: 2rem;
}

.btn-menu:hover{
  background-color: papayawhip !important;
  color: black;
  border: none;
  animation: bounce 0.6s;
  box-shadow: 0 10px 22px rgba(0,0,0,0,0,0.25);
}

.carousel-caption {
  color: white;
  margin-left:-95px;
   
}

.carousel-caption h5{
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.carousel-caption p{
  font-size: 1rem;
  font-weight: bold;
}

.btn-vermas{
  border-radius: 50px;
  padding: 10px 20px;
  border-width: 3px;
}

.btn-vermas span{
  color: white;
  font-weight: bold;
}

.titulo-productos{
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.titulo-productos::after{
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #dc3545;
  margin: 10px auto;
  border-radius: 10px;
}

.btn-danger{
  border-radius: 50px;
  padding: 10px 50px;
}

  
footer{
  background-color: #99582a;
  color: white;
  padding: 20px;
  
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-6px); }
  55%  { transform: translateY(0); }
  75%  { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}



  



