:root {
  --primary-color:#ffe6a7;
  --secundary-color: #99582a;
  --color-red:#ae2012;
}

#topbar{
  background-color: #ffe6a7;
  font-family: "Gravitas One", serif;
  color: black;
  font-size: 2rem;
  padding: 20px;

}

#topbar .iconos{
  color: #99582a;
  font-size: 1.5rem;
  
}

.navbar{
  background-color: #99582a;
}


footer {
  background-color: #99582a;
  color: white;
  padding: 20px;
  
}
  



