:root {
  --primary-color:#ffe6a7;
  --secundary-color: #99582a;
  --color-red:#ae2012;
  --color-marillo: #ffba08;
}

#topbar{
  background-color: #ffe6a7;
  font-family: "Gravitas One", serif;
  color: black;
  font-size: 2rem;
  padding: 20px;

}

#topbar .iconos{
  color: #99582a;
  font-size: 1.5rem;
  
}

#sliderHero .carousel-item {
    height: 250px;
}

#sliderHero .carousel-item img {
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    #sliderHero .carousel-item {
        height: 400px;
    }
}

@media (min-width: 1200px) {
    #sliderHero .carousel-item {
        height: 700px;
    }
}


.navbar{
  background-color: #99582a;
}

.btn-naranja{
  background-color: #99582a;
  color: white;
}

.btn-naranja:hover{
  background-color: #ae2012;
  color: white;
}

.btn-amarillo{
  background-color: #ffba08;
  color: black;
}

.btn-amarillo:hover{
  background-color: #99582a;
  color: white;
}


footer {
  background-color: #99582a;
  color: white;
  padding: 20px;
  
}
  



